<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="bi bi-building"></i> Arsa Yatırım
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'index' }}" href="{{ url_for('index') }}">
                        <i class="bi bi-house-door"></i> Ana Sayfa
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'analizler' }}" href="{{ url_for('analizler') }}">
                        <i class="bi bi-graph-up"></i> Analizlerim
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'portfolios' }}" href="{{ url_for('portfolios') }}">
                        <i class="bi bi-folder"></i> Portföyler
                    </a>
                </li>
        
            </ul>
            <div class="user-info">
                <span class="navbar-text text-white me-3">
                    <i class="bi bi-person-circle"></i> {{ session['email'] }}
                </span>
                <a href="{{ url_for('profile') }}" class="btn btn-outline-light {{ 'active' if request.endpoint == 'profile' }}">
                    <i class="bi bi-person"></i> Profil
                </a>
                <a href="{{ url_for('logout') }}" class="btn btn-light ms-2">
                    <i class="bi bi-box-arrow-right"></i> Çıkış Yap
                </a>
            </div>
        </div>
    </div>
</nav>
